.stockout_p_list{
    .rowYellow{
        background-color: yellow;
    }
    .rowWhite{
        background-color: white;
    }
    .rowGreen{
        background-color: green;
        color: white;
    }
}