.CutplanProcessing_Edit_D{
    // box-sizing: border-box;
    // border: 1px solid #33bbf7;

    .notEditable{
        .x-form-text-default{
            background-color: azure;
        }
        .x-form-date-trigger{
            background-color: azure;
        }
        .x-form-trigger-default{
            background-color: azure;
        }
    }
}