#Stockin_M_Edit_PackingList{
    //
    .content{
        //
        border-bottom: 1px solid lightgray;
        padding: 3px 3px 10px ;
        margin: 1px 0;
        font-size: 12px;
        .content1{
            //
            
            .content1-sub1{
                display: inline-block;
                width: 20%;
                height: 100%;
                vertical-align:top;
                overflow-wrap: break-word;
                word-wrap: break-word;
                hyphens: auto;
            }
            .content1-sub2{
                display: inline-block;
                width: 30%;
                height: 100%;
                vertical-align:top;
                overflow-wrap: break-word;
                word-wrap: break-word;
                hyphens: auto;
            }
        }
        .content2{
            //
            .content2-sub1{
                display: inline-block;
                width: 20%;
                height: 100%;
                vertical-align:top;
                overflow-wrap: break-word;
                word-wrap: break-word;
                hyphens: auto;
            }
            .content2-sub2{
                display: inline-block;
                width: 80%;
                height: 100%;
                vertical-align:top;
                overflow-wrap: break-word;
                word-wrap: break-word;
                hyphens: auto;
            }
        }
    }

    .tittle-bottom{
        width:150px;
        margin: auto;
        margin-top:-10px;
        // margin-left:5px;
        background:white;
        color: #33bbf7;
        font-size: 12px;
        text-align: center;
    }

    .yTxtClsWhiteBG{
        .x-input-el{
            background-color: white;
            color:black;
        }
    }
    .yTxtClsYellowBG{
        .x-input-el{
            background-color: yellow;
            color:red;
        }
    }
}