#Stockin_M_Edit_PackingList_D{
    //
    .content{
        //
        border-bottom: 1px solid lightgray;
        padding: 3px;
        margin: 1px 0;
        font-size: 12px;
        .content1{
            //
            display: inline-block;
            width: 50%;

            
        }
    }
}