#CutplanProcessing_Edit_D{
    .x-header-el {
        font-size: 12px;
        justify-content: center;
    }
    .x-gridcolumn-title-wrap-el {
        padding: 12px 0px;
    }
    border: 1px solid lightblue;
}