#PContract_PO_ProductList{
    .x-tree-node-icon {
        display: none;
    }
    .x-grid-cell-inner-treecolumn {
        padding: 7px 10px 6px 0px;
    }
    .x-tree-node-text {
        padding: 0px;
    }
    .x-tree-elbow-empty:first-child{
        display: none;
    }
}