.Stockin_packinglist_detail{
    .cellWhite{
        background-color: white;
        color: black;
    }
    .cellYellow{
        background-color: yellow;
        color: red;
    }
    .cellGreen{
        background-color: green;
        color: yellow;
    }
    .cellRed{
        background-color: red;
        color: yellow;
    }
    .x-grid-cell{
        vertical-align: middle;
    }
}