.Stockout_M_Edit_Pkl{
    border-bottom: 1px solid lightblue;

    .x-gridcell-body-el{
        padding: 12px 2px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: normal;
    }

    .cellWhite{
        background-color: white;
        color: black;
    }
    .cellYellow{
        background-color: yellow;
        color: red;
    }
    .cellGreen{
        background-color: green;
        color: yellow;
    }
    .cellRed{
        background-color: red;
        color: yellow;
    }
}