#Stockin_M_Edit_PackingList_D{
    //
    .content{
        //
        border-bottom: 1px solid lightgray;
        padding: 3px;
        margin: 1px 0;
        font-size: 14px;
        .content1{
            //
            display: inline-block;
            width: 50%;
            font-size: 14px;
            .warning2{
                background-color: #008102;
                color: yellow;
            }
            .warning1{
                background-color: yellow;
                color: red;
            }
            .warning0{
                background-color: white;
                color: black;
            }
            .unitid_link13{
                display:none;
            }
            .unitid_link31{
                display:none;
            }
        }
    }
}