#Stockin_M_Edit_PackingList{
    //
    .content{
        //
        border-bottom: 1px solid lightgray;
        padding: 3px 3px 10px ;
        margin: 1px 0;
        font-size: 12px;
        .content1{
            //
            
            .content1-sub1{
                display: inline-block;
                width: 20%;
                height: 100%;
                vertical-align:top;
                overflow-wrap: break-word;
                word-wrap: break-word;
                hyphens: auto;
                font-size: 14px;
            }
            .content1-sub2{
                display: inline-block;
                width: 30%;
                height: 100%;
                vertical-align:top;
                overflow-wrap: break-word;
                word-wrap: break-word;
                hyphens: auto;
                font-size: 14px;
            }
        }
        .content2{
            //
            .content2-sub1{
                display: inline-block;
                width: 20%;
                height: 100%;
                vertical-align:top;
                overflow-wrap: break-word;
                word-wrap: break-word;
                hyphens: auto;
                font-size: 14px;
            }
            .content2-sub2{
                display: inline-block;
                width: 80%;
                height: 100%;
                vertical-align:top;
                overflow-wrap: break-word;
                word-wrap: break-word;
                hyphens: auto;
                font-size: 14px;
            }
        }

        // unitid_link1{stockin.unitid_link}
        // nếu unitid_link == 1 -> hiện class unitid_link11, ẩn class unitid_link31
        // nếu unitid_link == 3 -> hiện class unitid_link33, ẩn class unitid_link13
        .unitid_link13{
            display:none;
        }
        .unitid_link31{
            display:none;
        }
    }

    .tittle-bottom{
        width:150px;
        margin: auto;
        margin-top:-10px;
        // margin-left:5px;
        background:white;
        color: #33bbf7;
        font-size: 12px;
        text-align: center;
    }

    .yTxtClsWhiteBG{
        .x-input-el{
            background-color: white;
            color:black;
        }
    }
    .yTxtClsYellowBG{
        .x-input-el{
            background-color: yellow;
            color:red;
        }
    }
    .my-textfield {
        border: 1px solid #33bbf7;
    }
}