#handover_cut_toline{
    .x-input-el{
        padding: 5px 5px;
        font-size: 13px;
    }
    .x-header-el{
        font-size: 13px;
    }
    .x-gridcell{
        font-size: 13px;
    }
    .x-label-el{
        font-size: 13px;
    }
    .x-itemheader{
        font-size: 13px;
    }
    .x-gridcell-body-el {
        padding: 12px 5px;
    }
}