.tvs-grid-row {
    background-color: lightyellow;
    color:red;
}
.tvs-grid-row .x-grid-cell-inner {
    font-size: 12px;
    font-weight: bold;
}
.tvs-header-row .x-column-header-text {
    font-size: 18px;
    font-weight: bold;
}
.tvs-header-row .x-column-header-inner {
    line-height: normal;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    text-align: center;
}