#HandoverCutToPrint_Detail_Info{
    .notEditable{
        .x-form-text-default{
            background-color: azure;
        }
        .x-form-date-trigger{
            background-color: azure;
        }
        .x-form-trigger-default{
            background-color: azure;
        }
    }
}