.greenIcon {
    color: green;
}
.redIcon {
    color: red;
}
.orangeIcon {
    color: orangered;
}
.violetIcon {
    color: blueviolet;
}
.blueIcon {
    color: blue;
}
.greyIcon {
    color: grey;
}