.greenIcon {
    color: green;
}
.redIcon {
    color: red;
}
.orangeIcon {
    color: orangered;
}
.violetIcon {
    color: blueviolet;
}
.offerIcon{
    color:rgb(136, 173, 216);;
}
.linekhIcon{
    color: #d6d648;
}
.blueIcon {
    color: blue;
}
.greyIcon {
    color: grey;
}