.red{
    background : red;
    height: 10px;
   }
.green{
    background :green;
    height: 10px;
   }
.blue{
    background :blue;
    height: 10px;
}
.gray {
    background: gray;
    height: 10px;
}
.styleRollup {
    color: black;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
}
.styleTask {
    background: white;
}
.holiday {
    background: gray;
}