.Stockin_M_Edit_Pkl_Recheck{
    border-bottom: 1px solid lightblue;

    .cellWhite{
        background-color: white;
        color: black;
    }
    .cellYellow{
        background-color: yellow;
        color: red;
    }
    .cellGreen{
        background-color: green;
        color: yellow;
    }
    .cellRed{
        background-color: red;
        color: yellow;
    }
}