.TimeSheetLunch_ListView{
    .greenCell{
        background-color: green;
        color: white;
    }
    .whiteCell{
        background-color: white;
        color: black;
    }
    .lightblueInput{
        background-color: lightblue;
    }
    .whiteInput{
        background-color: white;
    }
}